name: Build Example
on:
  push:
  
  workflow_dispatch:

jobs:
  build-example:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          node-version: '2O.x'
          caches: 'npm'

      - name: Set up Node.js environment
        uses: actions/setup-node@v4.4.0

      - name: Build the code
        run: zip -r app-bundle.zip .

