name: Checkout Example
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  checkout-example:
    runs-on: ubuntu-latest
    steps:
     - name: Check out repository
       uses: actions/checkout@v4

     - name: verify workspace contents
       run: ls -alhR
