name: Build Example
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-example:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
       
      - name: Set up Node.js environment
        uses: actions/setup-node@v4
        with:
            node-version: '2O'
            caches: 'npm'

      - name: Build the code
        run: zip -r app-bundle.zip .

      - name: Test the code
        run: |
          npx --yes jest --ci --reporters=default -- reporters=jest-junit
        env:
          JEST_JUNIT_OUTPUT: reports/junit/junit.xml
        
